@import "variables";
@import "maps";
@import "mixin";


@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
    @include reset-pm();
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    margin-top: 10rem;
}
header {
    background-image: url(../img/bg4.jpg);
    background-size: 100%;
}

.bg-success {
    --bs-bg-opacity: 50;
    background-color: $terciary, var(50) !important;
}

.btn {
    &.btn-cta {
        @include btn($font-color, $secondary, "true");
    &:hover {
        @include btn($secondary, $terciary, "true");
        box-shadow: $box-shadow;
    }
}
    &:hover {
        @include btn($terciary, $secondary, "true");
        box-shadow: $box-shadow;
    }
}

.btn-red{
    background-color: $primary;
    border-radius: 50px;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 10px;    
    h2{
        position:relative;
        color: $secondary;
        
        &::after{
            content: "";
            position: absolute;
            background-color: black;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: 0.1s;
        }
        &:hover{
            color: black;
        }
        &:hover::after{
            width: 100%;
        }
    } 
}

.agitar{
    
    &:hover{
        animation: agitar .8s ease-in;
    }
}

@keyframes agitar{  
    0%{
        transform: translate(0);
    }
    20%,
    40%,
    60%,
    80%{
        transform: translate(.8em);
    }
    10%,
    30%,
    50%{
        transform: translate(-.2em);
    }
    70%,
    100%{
        transform:translate(0);
    }
}



body {
    background-color: $primary;
    font-family: "Roboto", sans-serif;
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    a {
    color: $secondary;
    text-decoration: none;
    }
    h2 {
    font-weight: bolder;
    font-size: 4.5rem;
    }
    h3 {
    font-weight: bolder;
    font-size: 3.5rem;
    }
    h4 {
        font-weight: bolder;
        font-size: 2.5rem;
    }
}

.producto{
    border: none;
    outline: none;
    border-radius: 2rem;
    transition: transform .3s;

    &:hover{
        transform: translateY(-15px);
        transition: transform .3s;
    }

    .precio span{
        font-weight: bold;
        font-size: 2rem;
    }
}

ul {
    @include reset-pm();
    list-style: none;
    display: flex;
    gap: 20px;
    li {
        a {
        text-decoration: none;
        @include btn($primary, $font-color, "true");

        &:hover {
            @include btn($secondary, $terciary, "false");
            box-shadow: $box-shadow;
        }
        }
    }
}
