<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Diseño Multimedial Personalizado">
    <meta name="keywords" content="Contacto, Diseño, Comunicacion, Decoracion">
    <title>Eure-k Diseño Multimedial</title>
    <link rel="icon" href="../img/logo4.ico" />
    <script src="https://kit.fontawesome.com/67efa75ecc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <!-- Header -->
    <header class="container-fluid fixed-top rounded">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="../index.html" class="logo"><img src="../img/logoico.ico" class="agitar" width="160" height="130"
                        alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-cta" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="./tienda.html">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a href="./servicios.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a href="./nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-cta" href="./contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Main -->
    <main class="container">
        <!-- Titulo -->
        <div class="titulo">
            <h2>Contactanos</h2>
        </div>
        <div class="mt-5 bg-secondary">
            <div class="row">
                <div class="col-md-8 ml-5">
                    <div class="card-body">
                        <h2 class="card-title text-white">Formulario de Contacto</h2>
                        <form action="">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Nombre</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Apellido</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Correo</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                    style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Comentario</label>
                            </div>
                            <button type="submit" class="btn btn-cta">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <img src="../img/logo4.png" class="img-fluid rounded-start" alt="logo">
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="container-fluid p-3 mb-5 rounded mt-5">
        <!-- Iconos Redes Sociales -->
        <div class="d-flex justify-content-evenly m-5">
            <div>
                <a href="https://www.facebook.com/eurek.disenomultimedial" target="_blank"
                    class="btn-red facebook--link"><i class="fab fa-facebook"></i></a>
            </div>
            <div>
                <a href="https://www.instagram.com/eurekdisenomultimedial/" target="_blank"
                    class="btn-red instagram--link"><i class="fab fa-instagram"></i></a>
            </div>
            <div>
                <a href="https://wa.me/+542804373032" target="_blank" class="btn-red whatsapp--link"><i
                        class="fab fa-whatsapp"></i></a>
            </div>
        </div>
        <!-- Botones Footer -->
        <div class="p-5">
            <ul class="justify-content-evenly pb-3 mb-3">
                <li class=""><a href="#" class="px-4 text-muted-white">Ayuda</a></li>
                <li class=""><a href="#" class="px-2 text-muted-white">Promociones</a></li>
                <li class=""><a href="#" class="px-3 text-muted-white">Sugerencias</a></li>
                <li class=""><a href="#" class="px-2 text-muted-white">Contactanos</a></li>
            </ul>
            <p class="text-center text-muted-white p-5">&copy; Realizado por Bellido Leonardo - 2022 </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>